@font-face {
  font-family:'BWHaasRegular';
  src: url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.woff') format('woff'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgrotesktext-65medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

body {
  width: 960px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .6;
}


.tooltip-wrapper {
  padding: .5em;
  background: white;
  border: 1px solid black;
  font-family: Helvetica;
  font-size: 10pt;
}

div.d3-tip.n {
  pointer-events: none !important;
}

.legend-wrapper {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 100%;
}

#legend-text {
  text-align: center;
}

#legend {
  display: inline-block;
  list-style-type: none;
  width: 20em;
  padding-left: 0em;
  margin-top: 0em;
}

.wrapper {
  display:inline-block;
}

.legend-div {
  display: inline-block;
  width: 1em;
  margin: .5em .5em .5em 0em;
  background: black;
  opacity: .2;
}

.legend-div:hover {
  opacity: .6;
}

#arrow-wrapper {
  position: absolute;
  top: 0;
  left: 21em;
}

#vertical-legend {
  position: absolute;
  top: 0em;
  left: 15em;
}


#bar-legend {
  position: relative;
  width: 17px;
  height: 42.5px;
  background: white;
  border: 1px solid black;
  margin-top: 5px;
}

#bar-legend span {
  position: absolute;
  -webkit-transform: rotate(90deg);
  left: -11px;
  top: 15px;
  letter-spacing: 1px;
  font-size: 8pt;
}

#red {
  background: #fc0766;
}

#blue {
  background: #1e69ff;
}

#green {
  background: #49b122;
}

.data-credit {
  text-transform: uppercase;
  text-align: right;
  font-size: 10px;
  margin-top: 50px;
}
