body {
  color: white;
}

* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
}

#container {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

.slide {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-size: cover;
  /* -webkit-filter: sepia(90%) hue-rotate(90deg); */
}

.slide-text {
  pointer-events: none;
  position:relative;
  padding: 10px;
  border: 5px solid white;
  height: 100%;
}

h2 {
  font-size: 24pt;
  margin: 0;
}

h3 {
  position: absolute;
  bottom: 0;
  font-size: 150pt;
  margin: 0;
}